.App {
  background-color: #12232E;
  margin: 0;
  padding: 8px;
  color: #EEFBFB;
 
}

h1 {
  margin:0;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color:#203647}
tr:nth-child(odd){background-color: #4DA8DA}

th {
  background-color:#007CC7;
  color: #EEFBFB;
}

.firstButton {
  border-radius: 12px;
  font-size: 14px;
  background-color: #4DA8DA;    
  color: #EEFBFB;
}